box1 {
  background-color: lightcoral;
  margin-bottom: 20px;
  width: 350px;
  height: 350px;
}
.box2 {
  background-color: lightskyblue;
  margin-top: 50px;
  width: 350px;
  height: 350px;
}

.box3 {
  background-color: lightcoral;
  margin-bottom: 20px;
  width: 350px;
  height: 350px;
}
.box4 {
  background-color: lightskyblue;
  margin-top: 50px;
  width: 350px;
  height: 350px;
}
